# Application Config
NODE_ENV="development"
LOG_LEVEL="debug"
PORT=3000
DOMAIN_NAME="http://yourdomain.com"

# Database Config
DB_URL="postgres://alex:pwd@ep-cool-breeze-123456.us-east-2.aws.neon.tech/neondb?sslmode=verify-full" # optional if use cloud database
DB_HOST="localhost"
DB_PORT=5432
DB_USERNAME="postgres"
DB_PASSWORD="postgrespassword"
DB_DATABASE="ticket_booking"
DB_SYNCHRONIZE=true
DB_LOGGING=true
DB_MIGRATIONS_RUN=false

# Redis Config
REDIS_URL="rediss://default:yourpassword@shared-redis-123.upstash.io:6379" # optional if use cloud redis
REDIS_HOST="localhost"
REDIS_PORT=6379

# Resend Config
RESEND_API_KEY="re_...."
EMAIL_FROM="Ticket Booking <noreply@yourdomain.name.io.vn>"

# JWT Config
JWT_SECRET="your-serect"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

# PayOS Config
PAYOS_CLIENT_ID="your_payos_client_id"
PAYOS_API_KEY="your_payos_api_key"
PAYOS_CHECKSUM_KEY="your_payos_checksum_key"

# Shows Config
SHOW_CREATION_MIN_LEAD_MINUTES=10

# Load Testing Config
VUS=500
TARGET_URL="http://127.0.0.1:3000"

# Sentry Observability Config
SENTRY_DSN="https://examplePublicKey@o0.ingest.sentry.io/0" # optional, leave empty to disable in local/test
SENTRY_ENVIRONMENT="development"
SENTRY_TRACES_SAMPLE_RATE=1.0
