# Application Config
NODE_ENV="development"
PORT=3000
DOMAIN_NAME="http://yourdomain.com"

# Database Config
DB_URL="postgres://alex:pwd@ep-cool-breeze-123456.us-east-2.aws.neon.tech/neondb?sslmode=require" # optional if use cloud database
DB_HOST="localhost"
DB_PORT=5432
DB_USERNAME="postgres"
DB_PASSWORD="postgrespassword"
DB_DATABASE="ticket_booking"
DB_SYNCHRONIZE=true
DB_LOGGING=true
DB_MIGRATIONS_RUN=false

# Redis Config
REDIS_URL="rediss://default:yourpassword@shared-redis-123.upstash.io:6379" # optional if use cloud redis
REDIS_HOST="localhost"
REDIS_PORT=6379
